@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 15, 15;
  --background-start-rgb: 180, 150, 190;
  --background-end-rgb: 200, 200, 200;
}

[class="dark"]:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 33, 33, 33;
  --background-end-rgb: 25, 40, 65;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 33, 33, 33;
    --background-end-rgb: 25, 40, 65;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: 100vh;
}

.custom-form-container {
  @apply flex flex-col items-center w-[85%] min-h-[18rem] p-1 space-y-2 mt-2;
}

.custom-form-text-field {
  @apply w-full border border-black rounded-md bg-white text-black p-1 pl-2;
}

.custom-form-checkbox {
  @apply bg-gray-100 border-gray-300 rounded focus:ring-blue-500;
}

.custom-form-text-area {
  @apply block p-2.5 w-full min-h-[10rem] text-black bg-white rounded-md border border-gray-500 focus:ring-blue-500 focus:border-blue-500;
}

/* Scrollbar style below
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Scrollbar style above */
